<a (click)="addnew()" class="button" data-target="addNewStudent">+ Add New Student</a>
<br /><br />
<!--Modal-->
<div class="modal" [class.is-active]="showModal" [hidden]="!showModal" id="addNewStudent">
    <div class="modal-background" (click)="showModal=false"></div>
    <div class="modal-card">
        <form (submit)="addEdit()" ngNativeValidate>
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" (click)="showModal=false"></button>
            </header>
            <section class="modal-card-body">
                    <div class="field">
                        <label class="label">Full Name</label>
                        <p class="control">
                            <input class="input" [(ngModel)]="data.full_name" type="text" name="name" placeholder="Primary input" required>
                        </p>
                    </div>

                    <div class="field">
                        <label class="label">Email</label>
                        <p class="control">
                            <input class="input" [(ngModel)]="data.email" type="email" name="email" placeholder="Primary input" required>
                        </p>
                    </div>

                    <div class="field">
                        <label class="label">Birthday</label>
                        <p class="control">
                            <input class="input" [(ngModel)]="data.birthday" type="date" name="date" placeholder="Primary input" required>
                        </p>
                    </div>
            </section>
            <footer class="modal-card-foot">
               <button class="button is-success" type="submit">Add</button>
                <a class="button" (click)="showModal=false">Cancel</a>
            </footer>
        </form>
    </div>
</div>
<!--/Modal-->



<nav class="panel">
  <p class="panel-heading">
    Students
  </p>
  <div class="panel-block">
<table class="table">
  <thead>
    <tr>
      <th><abbr>ID</abbr></th>
      <th><abbr>Full Name</abbr></th>
      <th><abbr>Email</abbr></th>
      <th><abbr>birthday</abbr></th>
      <th><abbr>Action</abbr></th>
    </tr>
  </thead>
  <tfoot>
    <tr>
      <th><abbr>ID</abbr></th>
      <th><abbr>Full Name</abbr></th>
      <th><abbr>Email</abbr></th>
      <th><abbr>birthday</abbr></th>
      <th><abbr>Action</abbr></th>
    </tr>
  </tfoot>
  <tbody>
    <tr *ngFor="let student of students"  >
      <td  >{{student.id}}</td>
      <td  >{{student.full_name}}</td>
      <td  >{{student.email}}</td>
      <td  >{{student.birthday}}</td>
      <td  ><a (click)="delete(student.id, index)" class="button is-danger">DELETE</a></td>
    </tr>
  </tbody>
</table>
  </div>
</nav>